
<div class="container"
	style="background-color: white; border-radius: 1%; margin-top:5%;">
	<div class="col-lg-12" style="margin-top:20px;">

		<div class="alert alert-danger" ng-show="error">There was a
			problem logging in. Please try again.</div>

		
		<div class="col-lg-6" style="margin-top:20px;">	
		 <form class="form-horizontal" role="form"
			ng-submit="configureNotifications.addMonitorCurrency()">
			<div class="form-group">
				<label for="repeatSelect" class="col-sm-5 control-label">Wybierz walute:</label>
				<div class="col-sm-5">
				        <select is="name" class="form-control" ng-model="note.name" ng-options="note.name as note.name for note in notes" name="currency"></select>
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-sm-5 control-label">Kupno:</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" id="purchase" ng-model="purchase" />
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-sm-5 control-label">Sprzedaz:</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" id="sell" ng-model="sell" />
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-sm-5 control-label"></label>
				<div class="col-sm-5">
					<button type="submit" class="btn btn-primary btn-block">Dodaj</button>
				</div>
			</div>
			<br></br>
		</form> 
			</div>

		<div class="col-lg-6 tablecontainer ">
			<table style="width: auto;"
				class="table table-hover table-striped  table-condensed">
				<thead>
					<tr>
						<th>Lp.</th>
						<th>Nazwa</th>
						<th>Kod</th>
						<th>Kupno</th>
						<th>Sprzedaz</th>
						<th width="5%"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="monitorCurriency in monitorCurriencies">
						<td>{{$index + 1}}</td>
						<td>{{monitorCurriency.name}}</td>
						<td>{{monitorCurriency.code}}</td>
						<td>{{monitorCurriency.purchase}} zl</td>
						<td>{{monitorCurriency.sell}} zl</td>
						<td ng-hide="monitorCurrencyId">{{monitorCurriency.id}}</td>
						<td><button type="button" ng-click="configureNotifications.remove(monitorCurriency.id)"
								class="btn btn-danger btn-sm custom-width">Usun</button></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</div>

